<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reactproject.minishop.signup.dao.UserManageMapper">
    <insert id="insertNewUserInfo" parameterType="com.reactproject.minishop.signup.dto.UserSignupInfoDto">
     	insert into user values(#{userid},#{password},#{email},#{name},#{address},CURRENT_TIMESTAMP,"member")
    </insert>
    
    <select id="findById" parameterType="string">
    	select userid from user where userid=#{userid}
    </select>
    
</mapper>